
.main{
    width: 90vw;
    height: 90vh;
    border: 2px solid red;
    margin:0 auto;
    display: flex;
    gap: 10px;
    
}

.left{
    width: 30%;
    border-radius: 5px;
    background-color: aquamarine;
    margin: 5px 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 70%;
    border-radius: 5px;
    background-color: chocolate;
    margin: 5px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

@media screen and (max-width: 786px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left{
        width: 100%;
        height: 30%;
        margin: 5px 5px 0px 5px;
    }

    .right{
        width: 100%;
        height: 70%;
        margin: 0px 5px 5px 5px;
    }
}
    
